<p>testing works!</p>
<p>{{date | date:'short'}}</p>
<p>{{date | date:"medium"}}</p>
<p>{{date | date:'long'}}</p>

<p>{{mess | uppercase}}</p>
<p>{{mess | lowercase}}</p>

<p>{{amount | currency}}</p>
<p>{{amount | currency:'CAD'}}</p>
<p>{{amount | currency:'CAD':'code'}}</p>
<p>{{amount | currency:'CAD':'symbol' : '4.2-2'}}</p>
<p>{{amount | currency:'CAD':'symbol-narrow' : '4.2-2'}}</p>
<p>{{amount | currency:'CAD':'symbol' : '4.2-2' :'fr'}}</p>
<p>{{amount | currency:'CLP'}}</p>


<button mat-raised-button>Basic</button>
<mat-icon>menu</mat-icon>
<button (click)="openSnackBar()" mat-fab extended>
    <mat-icon>favorite</mat-icon>
    Basic
</button>
<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title> This is the expansion title </mat-panel-title>
            <mat-panel-description> This is a summary of the content </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
            <mat-panel-title> Self aware panel </mat-panel-title>
            <mat-panel-description>
                Currently I am {{panelOpenState() ? 'open' : 'closed'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>
</mat-accordion>