<!-- <form action="" class="w-50 mx-auto shadow px-5 py-4" action="">
    <h1>Log In</h1>
    <input class="form-control" [(ngModel)]="email" type="email" name="email" placeholder="Email Address" id="">
    <br><br>
    <input class="form-control" [(ngModel)]="password"  type="text" name="password" placeholder="Enter Your Password" id="">
    <br><br>
    <button (click)="login()" class="btn btn-dark" type="button">Login</button>

</form> -->

<form action="" class="w-50 mx-auto shadow px-5 py-4" action="">
    <h1>Log In</h1>
    <input class="form-control" [(ngModel)]="User.email" type="email" name="email" placeholder="Email Address" id="">
    <br><br>
    <input class="form-control" [(ngModel)]="User.password"  type="text" name="password" placeholder="Enter Your Password" id="">
    <br><br>
    <button (click)="login()" class="btn btn-dark" type="button">Login</button>

</form>