<p>oneuser works!</p>
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">firstName</th>
            <th scope="col">lastName</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{oneuser.id}}</td>
                <td>{{oneuser.firstName}}</td>
                <td>{{oneuser.lastName}}</td>
                <td>{{oneuser.gender}}</td>
                <td>{{oneuser.age}}</td>
            </tr>
        </tbody>
      </table>
</div>

